h1 { 
    color: skyblue;
    border: solid 18px;
    font-size: 120px;
    font-family: helvetica;
    text-align: center;
    margin: 0px;
    line-height: 200px
}

body{
    background-color: aliceblue;
    padding: 10px;
    text-align: center;
    font-family: helvetica;
}

h3{
    font-size: 20px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}

p{
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 50px;
}

strong{
    color: darkblue;
}

#oreo1{
    border-radius: 10px; 
}

#oreo2{
    border-radius: 10px; 
}

#oreo3{
    border-radius: 10px; 
}

h4{
    text-align: center;
    margin-bottom: 50px;
}
.email{
    font-size: 30px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 40px;
    display: block;
    color: white;
    background: skyblue;
    width: 20%;
    text-align: center;
    text-decoration: none;
    margin-left: 40%;
    border-radius: 20px;
    transition-duration: 1s;
}

.email:hover{
    background: white;
    color: skyblue;
    border-radius: 0%;
    
}

.email:active{
    color: red;
    font-size: 80px;
    

